.sidebar {
  height: 100%; 
  width: 40px;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #531aa8; 
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  text-align :center;
  transition: width 0.3s, height 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
  font-size:18px;
}


.main {
  margin-left: 160px; 
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.poppins {
  font-family: "Poppins",sans-serif;
}