.sidebar {
  height: 100%; 
  width: 40px;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgba(120, 71, 124, 0.8);
  overflow-x: hidden; 
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  text-align :center;
  transition: width 0.3s, height 0.3s;
}


.sidebar a:hover {
  color: #a49696;
}


.main {
  margin-left: 40px;
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.poppins {
  font-family: "Poppins",sans-serif;
}